@import "fonts";
@import "libs/bootstrap-reboot.min";

@import "variables/colors";

* {
  font-family: "Nunito Sans 10pt", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: $color-black;
}

.container {
  position: relative;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

@import "components/inputs/InputText";
@import "components/Buttons";
@import "components/Circles";

@import "components/Header";
@import "components/Navbar";
@import "components/Title";
@import "components/BreadCrumbs";
@import "components/MainBlock";
@import "components/Advantages";
@import "components/Contents";
@import "components/QuestionBlock";
@import "components/FAQ";
@import "components/Contact";
@import "components/Footer";
@import "components/Policy";
@import "components/BottomPage";
