$color-black: #37454A;

$color-gray: #838B8E;
$color-gray-2:#878F92;
$color-gray-3: #F4F4F4;

$color-green: #76B926;
$color-green-2: #6EB744;
$color-green-dark: #63A045;
$color-green-dark-2 :#62A53C;

$color-white: #fff;
