$color-black: #37454a;

$color-gray: #838b8e;
$color-gray-2: #878f92;
$color-gray-3: #f4f4f4;
$color-gray-4: #dfdfdf;
$color-gray-5: #edeef0;

$color-green-primary: #76b926;
$color-green-2: #6eb744;
$color-green-dark: #63a045;
$color-green-dark-2: #62a53c;

$color-error: #e41616;

$color-white: #fff;
