.Circles {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;

  &_small {
    width: 23px;
    height: 23px;
    font-size: 12px;
    font-weight: 600;
  }

  &_green {
    background-color: $color-green-primary;
    color: $color-white;
  }
}
