.Content {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 13px;
  flex-wrap: wrap;
  flex-direction: column-reverse;

  &__list {
    margin-top: 30px;
    padding-left: 19px;
  }

  &__ListItem {
    font-size: 18px;
    line-height: 30px;
  }

  &__img {
    max-width: 100%;
  }
}

@media (min-width: 760px) {
  .Content {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
  }
}
