.Popup {
  display: none;
  max-width: 500px;

  &__form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__formItem {
    &_checkobox {
      display: flex;
      gap: 10px;
    }
  }
}
