.Title {
  &__main {
    font-size: 42px;
    font-weight: 700;
    line-height: 50px;
  }

  &__subtitle {
    font-size: 28px;
    line-height: 36px;
  }

  &__smallSubtitle {
    font-size: 18px;
    line-height: 30px;
  }

  &_center {
    text-align: center;
  }

  &_uppercase {
    text-transform: uppercase;
  }

  & span {
    color: $color-green-primary;
  }
}
